.khutar-white-background-control {
  padding: 10px 15px;
  margin: 0 -15px;
  background: #fff;

  .customize-control-khutar_color_control & {
	padding-bottom: 10px;
  }
}


//
//.customize-control-khutar_responsive_range_control, .customize-control-khutar_range_control, .customize-control-khutar_toggle_control {
//  margin-bottom: -1px !important;
//  background-color: #fff;
//  padding: 12px 15px;
//  margin-left: -15px;
//  position: relative;
//}
